<!DOCTYPE html>
<html>
<head>
	<title>LoginnApp</title>
	<link rel="stylesheet"  href="/css/bootstrap.css">
	<link rel="stylesheet"  href="/css/style.css">
</head>
<body>

	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li role="presentation"><a href="/">Dashboard</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/register">Register</a></li>
              <li role="presentation"><a href="/users/login">Login</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">The Greatest Ever</h3>
      </div>

     
      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>


       </div>

      <footer class="footer">
        <p>Student project made for PG6300-1 17H Webutvikling og API-design</p>
        <p>By Mathias Svendsen</p>
        <p>Svemat15@student.westerdals.no</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>